@model Campus_Management_System.Models.Course
@{
    ViewData["Title"] = "Course";
}
<h1 class="text-center">Add Course</h1>

<label>Select Courses</label>
<select name="CourseIds" multiple class="form-control">
    @foreach (var course in ViewBag.Courses)
    {
        <option value="@course.CourseId">@course.CourseName</option>
    }
</select>