@page
@model Campus_Management_System.Pages.View.CoursesModel
@{
    ViewData["Title"] = "Add Course";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Add New Course</h2>

    <form method="post">

        <div class="mb-3">
            <label>Course Name</label>
            <input asp-for="Course.Name" class="form-control" />
            <span asp-validation-for="Course.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Credit Hours</label>
            <input asp-for="Course.CreditHours" class="form-control" />
            <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Fee</label>
            <input asp-for="Course.Fee" class="form-control" />
            <span asp-validation-for="Course.Fee" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>